*{
 padding: 0;
 margin: 0;
 font-size: 30px;
 
  
}


.card{
  background-color: rgb(188, 140, 233);
   padding: 10px;
  height: 200px;
  width: 500px;
  border:10px solid #6e374f;
  margin:70px;
}
.card2{
     background-color: rgb(140, 146, 233);
   padding: 10px;
  height: 200px;
  width: 500px;
  border:10px solid #6e374f;
  margin:70px;
}

.card3{
  background-color: rgb(188, 140, 233);
   padding: 10px;
  height: 400px;
  width: 500px;
  border:10px solid #6e374f;
  margin:70px;
}
h2{
text-align: center;
}
h3{
text-align: center;
color: azure;
}
h4{
text-align: center;

}