*{
 padding: 0;
 margin: 0;
 font-size: 40px;
  
}

.box-one{
  background-color: rgb(11, 105, 40);
  padding: 10px;
  height: 100px;
  width:100px;
  border:20px solid pink;
  margin:60px;
  
}

.box-two{
  background-color: rgb(188, 140, 233);
  border:0 solid blue;
   padding: 10px;
  height: 100px;
  width:100px;
  border:30px solid pink;
  margin:70px;
}